.deck-container {
  grid-area: deck;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #001b0c;
}

.deck {
  height: fit-content;
  overflow-y: auto;
}

/* Grid layout for 10 cards per row */
.deck .main-deck-container,
.deck .extra-deck-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  width: 100%;
  margin: 0;
}

/* The separator line */
.deck .deck-separator {
  float: none;
  clear: both;
  width: 100%;
  height: 1px; /* Ensure it has height */
  border: none; /* Reset default border if any */
  border-top: 2px solid #33691e;
  margin: 20px 0; /* Override the margins from .deck div */
  display: block;
}
